@* estadoTareas Template File *@
@(estados: List[models.Estado])(implicit flash: Flash)

@main("Welcome to Play"){
	@if(!estados.isEmpty){
		<table border="1">
			<tr>
				<th>
					Número
				</th>
				<th>
					Estado
				</th>
				<th>
					Input
				</th>
				<th>
					Resultado
				</th>
			</tr>
		@estados.zipWithIndex.map{case (estado, index) =>
			<tr>
				<td>
					@index
				</td>
				<td>
					@estado.listo match{
						case 0 => {En proceso}
						case 1 => {Completo}
						case 2 => {Cancelado}
					}
				</td>
				<td>
					@estado.entrada.split(',').map{s => 
						@s <br />
					}
				</td>
				<td class="limited-td">
					@estado.resultado.split('\n').map{s =>
						@s <br />
					}
				</td>
			</tr> 	
		}
		</table>
	}else{
		No posee tareas pendientes ni completas
	}

	
}
