@* getArchivoTarea Template File *@
@()(implicit flash: Flash)

@import helper._
@import views.myHelper._

@main(""){
	@form(routes.Servicios.ejecutarTarea,  'enctype -> "multipart/form-data"){
		<label for="tarea">Archivo Tarea</label> <br /> 
		<input type="file" name="tarea" /> <br /> <br />
		<input type="submit" value="Subir" />
	}
}
