@()(implicit flash: Flash, session: Session)

@import helper._
@import views.myHelper._

@main("Welcome to Play") {
	
	@if(session.get("admin").get == "true"){
		<a href="@routes.UsuariosC.obtenerUsuario">Crear nueva cuenta</a><br /> 
		<a href="@routes.UsuariosC.listaUsuarios">Promover usuario a administrador</a><br /> <br /> 
	}
	
	<a href="@routes.Servicios.supuestos">Encolar ejecución de ataque</a> <br />
	<a href="@routes.Servicios.estadoTareas">Ver estado de las tareas</a> <br />
	<a href="@routes.Servicios.subirTarea">Subir tarea personalizada</a> 
	
	<br /><br />
	<a href="@routes.UsuariosC.cambiarCsña">Cambiar contraseña usuario</a><br />
	<a href="@routes.Login.logout">Log out</a>

}
