@* usuariosSinAcceso Template File *@
@(usa: List[models.Usuario])(implicit flash: Flash)

@main(""){
	@if(!usa.isEmpty){
		<table border="1">
			<tr>
				<th>
					Nombre Usuario
				</th>
				<th>
					Razon Ingreso
				</th>
			</tr>
		@usa.map{case u =>
			<tr>
				<td>
					@u.nombre_usuario
				</td>
				<td>
					@u.razon_ingreso
				</td>
				<td>
					<a href="@routes.UsuariosC.darAcceso(u.id)">Dar Acceso</a>
				</td>
			</tr> 	
		}
		</table>
	}else{
		No hay usuarios esperando recibir acceso
	}
}
