#main > .flash > div > p{
	margin-top: 5px;
	margin-bottom: 5px;
}

body {
	background-color: #e1ddd9;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	color:#564b47;  
	margin: 20px 140px  20px 140px;
	text-align: center;
}

#content, #header, #footer { 

	width: 100%;
	padding: 0px;
	text-align: left;
	background-color: #fcfcff;	
	overflow: auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-style: ridge;
	border-color: rgb(182, 188, 255);
	border-width: 4px;
}

#header{
	margin-bottom: 20px;
	text-align: center;
}

#header > h1{
	font-size: 30px;
}


#footer{
	height: 70px;
	margin-top: 20px;
}

#main{
	margin: 10px 10px 10px 10px;
}

.titulo{
	font-size: 22px;
	margin-bottom: 6px;
}

.limited-td{
	max-width: 350px;
	word-wrap: break-word;
	overflow: auto;
}

#editor {
	height: 400px;
	margin: 0;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
}

a:visited, a:link{
	color: rgb(0, 0, 150);
}

a:hover {
	color: blue;
}
