@* estadoTareas Template File *@
@(estados: List[(models.Estado, String)], forAdmin: Boolean)(implicit flash: Flash)

@import org.joda.time.{DateTime, Period, Duration}
@import util.Utils._

@main("Welcome to Play"){
	@if(!estados.isEmpty){
		<table border="1">
			<tr>
				<th>
					@if(forAdmin){
						Id
					}else{
						Número
					}
				</th>
				@if(forAdmin){
					<th>
						Usuario
					</th>
				}
				<th>
					Estado
				</th>
				<th>
					Input
				</th>
				<th>
					Tiempo transcurrido
				</th>
				<th>
					Resultado
				</th>
			</tr>
		@estados.zipWithIndex.map{case (estado, index) =>
			<tr>
				<td>
					@if(forAdmin){
						@estado._1.id
					}else{
						@index
					}
				</td>
				@if(forAdmin){
					<td>
						@estado._2
					</td>
				}
				<td>
					@estado._1.listo match{
						case 0 => {En proceso}
						case 1 => {Completo}
						case 2 => {Cancelado}
						case 3 => {Esperando recursos}
					}
				</td>
				<td class="limited-td">
					@estado._1.entrada.split(',').map{s => 
						@s <br />
					}
				</td>
				<td>
					@defining(timeToShow(estado._1)){ tiempo =>
						@tiempo.split(',').map{s =>
							@s <br />
						}
					}
				</td>
				<td class="limited-td">
					@estado._1.resultado.split('\n').map{s =>
						@s <br />
					}
				</td>
				@if(List(0, 3).contains(estado._1.listo)){
					<td>
						<a href="@routes.TareasC.cancelar(estado._1.id)">Cancelar</a>
					</td>
				}
			</tr> 	
		}
		</table>
	}else{
		No posee tareas pendientes ni completas
	}

	
}
