@* getArchivoTarea Template File *@
@(hidden: Form[String])(implicit flash: Flash)

@import helper._
@import views.myHelper._

@implicitForm = @{Some(hidden)}

@main(""){
	@form(routes.Servicios.ejecutarTarea,  'enctype -> "multipart/form-data"){
		<label for="tarea">Archivo Tarea</label> <br /> 
		<input type="file" name="tarea" /> <br /> <br />
		<input type="submit" value="Subir" />
	}
	
	<br />
	
	O puede escribir su código acá:
	
	<div id="editor">override def descripcion = "RSA con n=3337 y e=79"

def run = { 	
	import scala.BigInt 	
	import supuestos._
	val n = BigInt("3337") 	
	val e = BigInt(79)
	
	val fact = Factorizar(n, 2).run //Puede ser Factorizar, DL, DLEC, EncontrarColision o Encontrar Preimagen
	
	val pattern = "([0-9]+)".r
	val seq = (for(m <- pattern.findAllMatchIn(fact)) yield m.group(1)).toList
	val p = BigInt(seq(0)) 	
	val q = BigInt(seq(1))
	e.modInverse((p-1)*(q-1)).toString
}</div>
	
	@form(routes.Servicios.ejecutarTareaSinArchivo, 'id -> "editorForm"){
		<input type="hidden" id="code" name="code" value="@hidden.data.get("code")">
		<input type="submit" value="Ejecutar">
	}
	
	    
	<script src="@routes.Assets.at("javascripts/ace-builds/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
	<script>
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/crimson_editor");
	    editor.getSession().setMode("ace/mode/scala");
	    
	    $(document).ready(function(){
		    $("#editorForm").submit(function(event){
		    	$("#code").val(editor.getValue());
		    });
		    
		    if($("#code").val() != ""){
		    	editor.setValue($("#code").val(), -1);
		    }
	    });
	</script>
}
