@* usuariosSinAcceso Template File *@
@(usa: List[models.Usuario])(implicit flash: Flash)

@main(""){
	@if(!usa.isEmpty){
		<table border="1">
			<tr>
				<th>
					Id
				</th>
				<th>
					Nombre Usuario
				</th>
			</tr>
		@usa.map{case u =>
			<tr>
				<td>
					@u.id
				</td>
				<td>
					@u.nombre_usuario
				</td>
				<td>
					<a href="@routes.UsuariosC.promover(u.id)">Promover</a>
				</td>
			</tr> 	
		}
		</table>
	}else{
		No hay usuarios que no son administradores
	}
}
